<!DOCTYPE html>
<html class="render" resource="">
    <head>
        <title>This will be replaced when the data is loaded</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="matchers" href="/matchers/matchers-example.ttl" type="text/turtle" />
        <script src="/js/rdf2h.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/ld2h.js"></script>
        
        <script id="data" type="text/turtle">
          @prefix s: <http://schema.org/>.
          @prefix foaf: <http://xmlns.com/foaf/0.1/> .
    
          <http://localhost:8080/data/person/sheldon-cooper> s:headline "An LD2h demo page" .
          <http://localhost:8080/data/person/sheldon-cooper> s:text '''Everything you see on this page is content expressed in RDF either within this
          page or from somewhere else on the web rendered  in the browser using 
          <a href="http://rdf2h.github.io/rdf2h">RDF2h</a> and mustache templates.'''.

        {{graph}} # this is the inserted data
        </script>

        <script id="page-template" type="text/x-mustache-template">
    <head>
      <title>{{s:headline}}</title>
    </head>
    <body>
        <h1>{{s:headline}}</h1>
        <p>{{{s:text}}}</p>
        
          <p>{{s:givenName}}</p>
    
        
 <span resource="http://localhost:8080/data/person/sheldon-cooper" class="fetch"> or should appear here</span>
        
    </body>
        </script>
            
        <script type="text/javascript">
$(function () {
   LD2h.expand();
});
        </script>
    </head>
    <body>
This will be replaced by rendered RDF.
    </body>
</html>
